server:
  port: 9000

spring:
  application:
    name: mic-authorizationserver

  data:
    mongodb:
      database: authorization
      username: ${MONGO_USER}
      password: ${MONGO_PASSWORD}
      host: ${MONGO_HOST}
      port: 40912
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration


logging:
  level:
    org.springframework.security: trace

app:
  environment: DES
  micro: AUTHORIZATION