server:
  port: 9000

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    #path: /web/swagger.html
    operationsSorter: method
    docExpansion: none
    tagsSorter: alpha
    urls:
      - url: /api-docs
        name: API Documentation

#/web/swagger-ui/index.html

spring:
  application:
    name: mic-authorizationserver

  datasource:
    url: jdbc:postgresql://monorail.proxy.rlwy.net:45438/railway
    username: postgres
    password: ObcggQODCkrLSYnzzLbvkieYDXMpmbsz
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 20000
      maximum:
        pool-size: 5
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true

logging:
  level:
    #org.springframework.security: trace
    org:
      hibernate:
        type:
          descriptor:
            sql: trace

app:
  environment: DES
  micro: AUTHORIZATION